.container-fluid {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
  justify-items: space-evenly;
}

h1{
    font-size: 3rem;
    text-align: center;
}
.center{
  text-align: center;
}
.error {
  color: #FF0000;
}

.discount{
  color: #FF0000;
}
.original{
  color: black;
  text-decoration-line: line-through;
}