.container-fluid {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-gap: 1rem;
}

h1{
    font-size: 3rem;
    text-align: center;
}

.error {
  color: #FF0000;
}